<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <title>Adicionar Produtos</title>
    </head>
    <body>
        <h1>Cadastrar produtos</h1>
        <form action="{{url_for('adicionar')}}" method="POST">
            <label for="nome_produto">Digite o nome do produto</label>
            <input
                placeholder="Banana..."
                type="text"
                required
                name="nome_produto"
                id="nome_produto"
            />
            <button class="btn" type="submit">Adicionar</button>
        </form>
    </body>
</html>
